<p><strong>Temple University</strong><br>
Gladfelter Hall, 4th Floor<br> 
1115 West Berks Mall<br> 
Philadelphia, PA 19122<br> 
Phone: [215-204-6276](tel:2152046276)<br> 
Fax: [215-204-3770](tel:215-204-3770)<br> 
<hr>
<p><strong>Executive Director:</strong><br>
Barbara Ferman, PhD<br>
<a href="tel:215204-6276">(215) 204-6276</a><br>
<a href="mailto:bferman@temple.edu">bferman@temple.edu</a></p> 
<hr>
<p><strong>VOICES Program Coordinator:</strong><br>
Johannah Bennett, MSW<br>
430 Gladfelter Hall<br>
<a href="tel:2152046185">(215) 204-6185</a><br>
<a href="mailto:johannah@temple.edu">johannah@temple.edu</a></p>
<hr>
<p><strong>Media Productions & Communications Manager:</strong><br>
Stormy Kelsey<br>
432 Gladfelter Hall<br>
<a href="tel:2152048516">(215) 215-204-8516</a><br>
<a href="mailto:stormykelsey@temple.edu">stormykelsey@temple.edu</a></p>
<hr>
