
<p><strong>Follow POPPYN on social media!</strong><br>
<a href="https://facebook.com/whatsPOPPYN">Facebook</a></p>
<a href="https://youtube.com/user/whatsPOPPYN">Youtube</a></p>
<a href="https://www.instagram.com/templeucc/">Instagram</a></p>

___ 

<p><strong>Follow POWER Internship on social media!</strong><br>
<a href="https://www.facebook.com/The-University-Community-Collaborative-152289177322/?ref=bookmarks">Facebook</a></p>
<a href="http://youtube.com/user/theUCCP">Youtube</a></p>

___ 

<p><strong>Follow Temple Youth VOICES on social media!</strong><br>
<a href="https://www.facebook.com/The-University-Community-Collaborative-152289177322/?ref=bookmarks">Facebook</a></p>
<a href="http://youtube.com/user/theUCCP">Youtube</a></p>

___
