// Can be overwritten on a per-site basis


/* 1. Colors
   ========================================================================== */

$primary-color: #1791ab;
$primary-color-light: lighten(#1791ab, 5%);
$primary-color-dark: darken(#1791ab, 5%);
