<footer class="page-footer">
  <div class="container">
    <div class="row">
     <div class="col l3 m6 s12">
        <ul>
          <li><a class="white-text" href="{{ site.university.url }}"><strong>{{ site.university.name }}</strong></a></li>
          <li><a class="white-text" href="{{ site.college.url }}">{{ site.college.name }}</a></li>
          <li><a class="white-text" href="{{ '/' | prepend: site.baseurl }}">{{ site.title }}</a></li>
              {% if site.hide-faculty-list %}
              
              {% else %}
                {% if site.faculty-page %}
                  <li><a href="{{ site.faculty-page | prepend: site.baseurl }}" class="white-text"><i class="material-icons">people</i>Faculty List</a></li>
                 {% else %}
                  <li><a href="{{ '/faculty' | prepend: site.baseurl }}" class="white-text"><i class="material-icons">people</i>Faculty List</a></li>
                {% endif %}
              {% endif %}
        </ul>
      </div>
      <div class="col l3 m6 s12">
        <ul>
          <li class="grey-text">{{ site.address.room }} {{ site.address.building }}</li>
          <li class="grey-text">{{ site.address.street }}</li>
          <li class="grey-text">{{ site.address.city }}</li>
          {% if site.address.email %}<li class="grey-text"><a href="mailto:{{ site.address.email }}" class="white-text"><i class="material-icons">email</i> {{ site.address.email }}</a></li>{% endif %}
          {% if site.address.phone %}<li class="grey-text"><a href="tel:{{ site.address.email }}" class="white-text"><i class="material-icons">phone</i> {{ site.address.phone }}</a></li>{% endif %}
        </ul>
      </div>
  <div class="footer-copyright">
    <div class="container">
    &copy; Copyright 1884-{{ site.time | date: '%Y' }} {{ site.university.name }}. All rights reserved.
    <a href="#top" class="right"><i class="material-icons">arrow_upward</i>Back to Top</a>
    </div>
  </div>
</footer>
