<h2>Emeritus Faculty</h2>
  
<p> Need Short Description</p>
  
<h3>Department</h3>
  <ul>
 <li>Lauren Alloy, PhD, Professor</li>
 <li>Jason Chein, PhD, Associate Professor</li>
 <li>Lauren Ellman, PhD, Associate Professor</li>
 <li>Tania Giovannetti, PhD, Associate Professor</li>
 <li>Peter James, PhD, Associate Professor (Instructional)</li>
 <li>Ingrid Olson, PhD, Professor</li>
 <li>David Smith, PhD, Assistant Professor</li>
 <li>David Waxler, PhD, Assistant Professor (Instructional)</li>
  </ul>
